*{
    margin:0;
    padding:0;
    font-family: 'Ropa Sans', sans-serif;
    box-sizing: border-box;
}
.body{
    background: white;
}
.header{
    min-height:70vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    color: #fff;
    position: absolute;
    width:80%;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.text-box h1{
text-align: center;
justify-content: center;
color: #fff;
font-size: 50px;
margin-top: 90px;
}
.text-box a {
    color:#fff;
    text-decoration: none;
    border: 0.6px solid #fff;
    border-radius: 6px;
    font-size: 14px;
    display: inline-block;
    background:transparent;

}
.jumbotron h1{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    
}

.text h5{
    font-size: 20px;
    padding-top: 5%;
    padding-left: 30px;
    
}
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 7%;
}
#boxes{
    margin-top:50px ;
}
#boxes .text{
    float: left;
    width: 30%;
    padding: 4px;  
}
#boxes .text img{
    width: 300px;
    height: 200px;
}

.text-box1{
    color: #fff;
    position: absolute;
    width:80%;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.heading2 h1 {
    padding-top:5%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    padding:36px 40px;
    height: 40%; 
}
.text h6{
    text-align: center;
}
footer{
    background: black;
    height:auto;
    font-family: "open sans";
    padding-top: 40px;
    color:#fff;
}
.footer-content{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.footer-content h1{
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
}
.footer-content p{
    text-align: center;
    justify-content: center;
}
#boxes1{
    text-align: center;
    padding-left: 20px;

}
img{
    width: 100%;
}
#boxes1 .text img{
    width:200px;
    height: 100px;
    float:left;
    
}



